*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
body{
  background:url("laptop-aerial-view.jpg") ;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
.logo{
  position: sticky;
 padding-top: 1px;
padding-right:1px;
padding-left: 50px;
z-index: 100;
}
   /*------------------------------------------ */
/*sidebar menue styles all pages  */
.user-img{
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eee;
}

.sidebar{
position:sticky;
top: 0;
height: 100vh;
width: 90px;
background-color: #ffffffc0;
z-index: 100;
padding: 0.4rem 0.8rem;
transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
  left: 300px;
  width: calc(100% - 300px);
}
.sidebar.active{
  width: 300px;
}

.sidebar #btn{
  position: absolute;
  color: rgb(34, 30, 26);
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar .top .logo{
  color:  #39332c;
  font-size:medium;
  font-weight: 300;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo{
  opacity: 1;
}
.top.logo i{
  font-size: 2rem;
  margin-right: 5px;
}
.user{
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.user p{
  color: #39332c;
  opacity: 0;
  margin-left: 1rem;
}
.user a{
  opacity: 0;
  color: #39332c;
}

.bold{
  font-weight: 600;
}
.sidebar p{
  opacity: 0;
}
.sidebar.active p{
  opacity: 1;
}
.sidebar.active a{
  opacity: 1;
  padding: 0.4rem;
}
.sidebar.active a:hover{
  color: #413225;
}
.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a{
  color: #39332c;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}
.sidebar ul li a:hover{
  background-color: #fff;
  color:#39332c ;
}
.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;

}
.sidebar .nav-item{
  opacity: 0;
}
.sidebar.active .nav-item{
  opacity: 1;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  color: #fff;
  background: #00000071;
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip{
  opacity: 1;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.main-content{
  position: relative;
  background-color:rgba(20, 19, 19, 0.323);
  min-height: 100vh;
  top: 0;
  color: #fff;
  left: 90px;
  transition: all 0.5s ease;
  width: calc(100% - 90px);
  padding: 1rem;

}
.container{
  display: flex;
  justify-content: space-between;
}

.container-2{
  justify-content: space-between;
}/*for page languages,programming and cooperative
  /*end sidebar menue styles  */
   /*------------------------------------------ */


/*start home page styles */

.banner{
    
    margin-top: 15px;
  
  }

  .logo img {
   
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    margin-top: 5px;
    margin-left: 180px;
    border: none;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    
  
  }
  .container h1{
    text-align: left;
    margin-left: 5px;
  }
  .navbar{
    
    box-sizing: border-box;
    width: 700px;
    height: 250px;
    border: none;
    
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 80px;
   
  }
  .navbar h2{
    font-size: 75px;
    color: rgb(8, 8, 8);
  }
  .navbar h3{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.2);
  }
  p{
    font-size: 16px;
    color: hwb(0 0% 100%);
  }
  span{
    color:  #717072;
  }
  .shear h2{
    box-sizing: border-box;
    font-size: 40px;
    width: 700px;
    height: 150px;
    border: none;
    color: #000;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0.4) ;
    
  }
 
  
  
   .btn8 {
  margin-top: -55px;
   margin-bottom: 270px;
margin-left: 70px;
   
  }
  .btn8 a{
  
    /*display: block;
    text-align: center;
    border: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
   text-decoration: none;
    color: #000;
    flex-wrap: wrap;
    border-radius: 30px;*/


    font-size: 15px;
    font-weight: 500;
    color: #0c0c0c;
    height: 400px;
    width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
    
   
  }
.imegShear {
 /* box-sizing: border-box;
    width: 300px;
    height: 50px;
    border: none;
    margin-left: -500px;
    color: #000; 
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    margin-top: 50px;*/



    box-sizing: border-box;
    width: 700px;
    height: 780px;
    border: none;
    box-shadow: -3px-3px 7px #c2bfbf73,
    3px 3px 5px #9b9c9f49;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    margin-top: 30px;
    align-items: center;
    margin-left: 70px;
    
  
    
}
.imegShear h3{
  
    color: #000;
    text-align: center;
    margin-top: 20px;
    text-indent: 20px;
    text-align: center;
}
.imegShear img{
  width: 450px;
  height: 300px;
  margin-top: 15px;
  
}
/*--------------------------------------*/
/*end home page styles */


/* languages page styles :list of languages(english,japanese,... on click go to choes language*/
/*--------------------------------------*/
/* end languages page styles :list of languages(english,japanese,... on click go to choes language*/


/* programming page styles: list of programming languages on click go to choies */

/*     search for language       */



.search-things { 
 width: 100%;
 min-height: 90px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 border-bottom: 1px solid #fff;
}
.search-things h1{
  color: #eee;
}

.search-things-box{
 justify-self: center;
 width: 100%;
 
}
.search-things-box form{
 background-color:rgba(164, 164, 164, 0.228);
 display: flex;
 justify-content: space-between;
 max-width: 500px;
 margin: auto;
 width: 100%;
 padding: 10px 12px;
 border-radius: 7px;
 box-shadow: rgba(0, 0, 0, 0.505) 0px 5px 15px;
}
.search-things-box input{
  background: transparent;
  border: none;
  font-size: 1rem;
  
}
.search-things-box input:focus{
  outline: none;
}
.search-things-box i{
  font-size: 1.5rem;
  color:#fff;
}
.search-things-box button{
  border:none ;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.313) 0px 5px 15px;
  border-radius: 7px;
  padding: 2px;
  cursor: pointer;
}
.select-list{
  display: flex;  
  display: grid;
  grid-template-columns: 0.1fr 0.1fr;
  align-items: center;
}

.list-Of-Lang select{
  border: none;
  color :#fff;
  font-size: 1rem;
  margin-left: 2px ; 
  margin-right: 2px; 
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color:rgba(164, 164, 164, 0.559);  
  width: 10%;
  padding: 13px 8px;
  cursor: pointer;
}
.list-Of-Lang select:focus{
  outline: none;
}
/*cooperative search and city */

 .list-Of-city select{
   border: none;
   color :#fff;
   font-size: 1rem;
   margin-right: 150px;
   box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
   border-radius: 7px;
   background-color:rgba(164, 164, 164, 0.559);  
   width: 10%;
   padding: 13px 8px;
   cursor: pointer;
 }
 .list-Of-city select:focus{
   outline: none;
 }


 .list-Of-city-2{
  display: flex;
 }
 .list-Of-city-2 select{
  border: none;
  color :#fff;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 2px ;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color:rgba(164, 164, 164, 0.87);  
  width: 130px;
  padding: 4px 4px;
  cursor: pointer;
 }
 .list-Of-city-2 select:focus{
   outline: none;
 }






 .text .comment-box-coop{
  margin-left: 135px;
  margin-top: -120px;
  justify-self: center;
  width: 75%;
  
  
}
.comment-box.shareExperienceBtn{
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color:rgba(20, 19, 19, 0.116);
  text-align: center;

}
.comment-box-coop{
  border-radius: 7px;
  border: none;
  
  margin-right: 400px;
  padding: 1rem;;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color:rgba(20, 19, 19, 0.612);
  width: 500px;
  display: grid;
  }
.comment-box-coop h3, .comment-box-coop h2{
  color: #eee;
  text-align: center;
}
.comment-form-coop input {
  color: #fff;
  border-radius: 7px;
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
}
.comment-form-coop button{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: .3s ease;
}

/* end cooperative search and city */
.text-post input{
  border: none;
  color :#fff;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 2px ;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color:rgba(164, 164, 164, 0.87);  
  width: 130px;
  padding: 4px 4px;
  cursor: pointer;
}

.list-Of-Lang-2{
  display: flex;
 }
 .list-Of-Lang-2 select{
  border: none;
  color :#fff;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 2px ;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color:rgba(164, 164, 164, 0.87);  
  width: 130px;
  padding: 4px 4px;
  cursor: pointer;
 }
 .list-Of-Lang-2 select:focus{
   outline: none;
 }
 .select-gender{
  display: flex;
  cursor: pointer;
 }
 .select-gender-2{
  border: none;
  color :#fff;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 2px ;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color:rgba(164, 164, 164, 0.87);  
  width: 130px;
  padding: 4px 4px;
 }
 .select-gender-2 input:focus{
  outline: none;
 }

/*.filter button{
  cursor: pointer;
  border:none ;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.313) 0px 5px 15px;
  border-radius: 7px;
  padding: 2px;
//*END FILTER BUTTON*/

/*   end search for language   */

.text .comment-box{
  margin-left: 135px;
  margin-top: -90px;
  justify-self: center;
  width: 75%;
  
  
}
.comment-box{
  border-radius: 7px;
  border: none;
  margin-right: 3rem;
  padding: 1rem;;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color:rgba(20, 19, 19, 0.612);
  min-width: 50%;
  display: grid;
}
.comment-box h3, .comment-box h2{
  color: #eee;
  text-align: center;
}
.comment-form input {
  color: #fff;
  border-radius: 7px;
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
}
.comment-form button{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: .3s ease;
}

.posted-text{
  position:relative;
}

.posted-text::before{
  content: "";
  
  min-height: 100;
  position: absolute;
  width: 1px;
  left: -10px;
}
.posted-text:not(:first-child){
  margin-left: 4rem;
  margin-top: 1rem;
  
}
.posted-comment{
  margin-top: 2px;
  padding: 20px;
  background-color:rgba(20, 19, 19, 0.612);
  border-radius: 7px;
  min-width: 100%;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.posted-comment h3, .posted-comment p{
  margin-bottom: 1rem;
}
.comment-footer{
  display: flex;
  font-size: 16px;
  opacity: 0.6;
  gap: 30px;
  justify-content: flex-end;
  align-items:center ;
}
.show-replise{
  cursor: pointer;
}


/*--------------------------------------*/
/* end programming page styles: list of programming languages on click go to choies */

/* intern page styles : list of training cites on click show interen experinec on this city*/
/*--------------------------------------*/
/*end  intern page styles : list of training cites on click show interen experinec on this city*/


/*--------------------------------------*/
/* catagory page styles: on intern (intern place + intern city) on languages(language list)  on programming (programming languages list)*/
.container.button {
  border: none;
  color: rgba(255, 255, 255, 0.243);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.main-content .button {
  background-color: rgb(226, 220, 212); 
  color: rgb(93, 88, 88); 
  border: 2px solid #b9b9b9;
  border-radius: 35%;
  
}
.main-content .button a{
  color: #413225;
}

.main-content .button:hover {
  background-color: #6d5e50;
  color: white;
  border-radius: 35%;

}


.logo2 img{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  margin-top: 5px;
  margin-left: 180px;
  border: 5px solid hsl(0, 0%, 98%);
  padding: 3px;
  background-color: hsl(0, 0%, 89%);
  margin-left: 900px;
  margin-top: -50px;
  
}


.containerC h3{
  font-size: 45px;
  text-align: center;
  margin-top: 150px;
}

  .containerC button{
margin-top: 90px;
margin-left: 140px;
background: none;
direction: none;
color: #fffbfb;
    border: none;
  }
  .btn a{
    /*display: grid;
    text-align: center;
    border: 4px solid #8a888a;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    margin: 10px;
    color: #000;
    transition: 0.8s;
    flex-wrap: wrap;
    place-items: center;*/

    font-size: 15px;
    font-weight: 500;
    color: #0c0c0c;
    height: 400px;
    width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
    
  }
  

/*end catagory style*/
/*--------------------------------------*/

/* start my acount page */
/*--------------------------------------*/
.logo1 img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px 0px 2px 100px;
    margin-top: -50px;
    margin-left: 1050px;
    border: 5px solid hsl(0, 0%, 100%);
    padding: 3px;
    background-color: hsl(0, 0%, 89%);
  }
  .container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
  }
  .container  form .form {
    position: absolute;
    background-color: #b9b9b9;
  }
  .container  form .form.second {
    opacity: 0;
    pointer-events: none;
  }
  form .secActive .form .second{
    opacity: 1;
    pointer-events: auto;
  }
  form .secActive .form .first{
    opacity: 0;
    pointer-events: none;
  }


  .box{
    box-sizing: border-box;
    width: 500px;
    height: 650px;
    border: 2px solid #ffffff;
    box-shadow: -3px-3px 7px #c2bfbf73,
    3px 3px 5px #9b9c9f49;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    margin-top: 2px;
    margin-left: 300px;
    align-items: center;
    justify-content: space-between;
     position: relative;
    left: 40px;
     display: flex;
     flex-wrap: wrap;
    
  
  }
  
  .box img{
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    margin-top: 5px;
    margin-left: 150px;
    border: 5px solid hsl(0, 0%, 100%);
    padding: 3px;
    background-color: hwb(0 85% 13%);
    
  }
  .box .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  
 .fields .input-field1 {

display: flex;
width: calc(100% / 2 - 15px);
flex-direction: column;
margin: 40px 0;


  }
  .input-field1 label{
    font-size: 12px;
    font-weight: 800;
    color: hsl(0, 0%, 4%);
    margin: -20px 20px 0px 2px;
  }
  .input-field1 input{
   height: 42px;
    padding: 15px;
  
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
     text-align: left;
     color: #0e0d0d; 
    background-color: rgba(255, 255, 255, 0.2);
    

    /*font-size: 15px;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    height: 100px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-top: 20px;*/
     
    
  }
  .input-field1 input:is(:focus, :valid) {
    box-shadow: 0 3px 6px #4f27f121;
  }
  p{
    font-size: 14px;
    margin: 15px;
    display: inline-block;
    padding: 5px 20px;
    color: #000;
  }
  input[type="button"]{
    border: none;
    color: #060606;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    
   
   
    
  }
  
  .fields button {
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 120px;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.4);
    color: #0d0d0d;
    transition: all 0.3s;
    border-radius: 50px;
    border: none;
    
   
    
   
    
    
  }
  .fields [type="submit"]{
    margin-top: 5px;
    margin-left: 210px;
  

  }
  

  

  .fields button:hover{
    transform: scale(1.1);
    background-color:#858386;
    
  }
  
  

  input[type="file"]{
    display: none;
    
    
  }
  label{
    box-sizing: border-box;
    margin: 6px 10px 0px 140px;
    font-size: 20px;
    color: hwb(0 0% 100%);
    border: none;
    padding: 2px 25px;
    border-radius: 15px;
    
  

  }
  label:hover{
    background-color: #858386;
    color: #000;
    
  }
/*  end my acount page */


/*--------------------------------------*/
/* log in page + register styles*/

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-color: rgba(20, 19, 19, 0.323);
}
.nav{
  position: fixed;
 top:0;
 display: flex;
 justify-content:space-around;
 width: 100%;

 height: 100px;
 line-height: 100px;
 background: linear-gradient((39,39,39,1),transparent); 
 z-index: 100;
}
.nav-logo p{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display:inline-flex;
  padding-inline-start: 30px;
  
}
.nav-menu ul li{
  list-style-type:none;
 
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  border: none;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25 px;
}
.link:hover, .active{
border-bottom: 2px solid #fff;
}
.nav-menu ul li .link:hover{
  border-bottom: 2px solid #fff;
}
.nav-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
  margin-left: 15px;
}
.btn.white-btn{
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
  background: rgba(255, 255, 255, 0.7);
}
.nav-menu-btn{
  display: none;
}
/*--------------------------------------*/
/*-----------form style--------*/
.form-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 600px;
  overflow: hidden;
  z-index: 2;
}
.login-container{
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.register-container{
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.top span{
  color: #ffffff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a{
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header{
  color: #fff;
  font-size: 30px;
text-align: center;
padding: 10px 0 30px 0;
}
.two-forms{
  display :flex;
  gap: 10px;
}
.input-field{
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  height: 40px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}
.input-field:hover, .input-field:focus{
  background: rgba(0, 0, 0, 0.25);
}
::-webkit-input-placeholder{
  color: #fff;
}
.input-box i{
  position: relative;
  top: -30px;
  left: 16px;
  color: #fff;
}
.submit{
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.submit:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one{
  display: flex;
  gap:5px;
}
.two label a{
  text-decoration: none;
  color: #fff;
}
.two label a:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 786px){
  .nav-button{
    display: none;
  }
  .nav-menu.responsive{
    top:100px;
  }
  .nav-menu{
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter:blur(20px) ;
    transition: .3s;
  }
  .nav-menu ul{
    flex-direction: column;
    text-align: center;
  }
  .nav-menu-btn{
    display: block;
  }
  .nav-menu-btn i{
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
  }
  .nav-menu-btn i:hover{
    background: rgba(255, 255, 255, 0.15);
  }
}
/* for smaal devices*/
@media only screen and (max-width: 540px){
.wrapper{
  min-height: 100vh;
}
.form-box{
  width: 100%;
  height: 500px;

}
.register-container, .login-container{
  width: 100%;
  padding: 0 20px;
}
.register-container .two-forms{
  flex-direction: column;
  gap:0;
}
}
  /*--------------------------------------*/
